@import "./../../constants/variables";

.button {
  border-radius: $border-radius;
  padding: $base;
  cursor: pointer;
}

.primary {
  background-color: $primary;
  border: none;
  font-size: $h5;
  text-align: center;
  color: $white;
  font-weight: 700;
}

.secondary {
  background-color: $white;
  border: $primary 1px solid;
  font-size: $h5;
  text-align: center;
  color: $primary;
  font-weight: 700;
}
