//** COLORS **//
$primary: #496da1;
$accent: #ae6098;
$tertiary: #7dba86;
$black: #030f09;
$gray: #767676;
$gray2: #ccc;
$gray3: #e6e6e6;
$gray4: #f7f8fa;
$white: #fff;

//** COMPONENT **//
$shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
$border-radius: 8px;
$base: 16px;

//** FONTS **//
$h1: 40px;
$h2: 32px;
$h3: 24px;
$h4: 20px;
$h5: 16px;
$card: 18px;
$body: 14px;
$caption: 12px;
